@import url("bootstrap");

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;

  h1 {
    background-color: aqua;
  }

  .card-text {
    height: 150px;
  }
}
